<html>
<title>Web Number</title>
<head><h1>Guess The Number</h1></head>
<body>
<p>
The secret number is <%= number %>
</p>
<form>
	<input type='text' name='guess' />
	<input type='submit' value='Guess!'>
</form>
</body>

</html>